<div class="nav-container">
  <a href="https://amormarketingla.com/" class="logo">
    <img src="images/amor-marketing-logo.svg" alt="Amor Marketing Logo" />
  </a>

  <nav class="nav-menu">
    <a href="https://amormarketingla.com/">HOME</a>
    <a href="https://amormarketingla.com/#services">SERVICES</a>
    <a href="https://amormarketingla.com/about-us/">TEAM</a>
    <a href="https://amormarketingla.com/our-work/">LOVE AT WORK</a>
    <a href="#">PORTFOLIO</a>
  </nav>

  <div class="mobile-controls">
    <button type="button" id="mobileMenuToggle" class="mobile-menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="#" class="contact-btn">CONTACT</a>
  </div>
</div>
